.reservation-form-card {
  margin-top: 16px;
  padding: 24px;
  width: 100%;
}

.reservation-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 24px;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
}

/*Phone*/
@media only screen and (max-width: 576px) {
  .reservation-form-card {
    margin-top: 15px;
    padding: 24px;
  }

  .reservation-form {
    grid-template-columns: 1fr;
  }
}
