
.successfulAdm-page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.successfulAdm-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 302px;
   width: 638px;
   
 }

.successfulAdm-card-content{
  display: block;
  text-align: center;
}

.successfulAdm-card-content > h3 {
  color: var(--primary);
  padding-top: 15px;
}

.successfulAdm-card-content > h4 {
  padding: 5px 0 25px 0;
}

.create-product-icon{
  color: var(--primary);
}

